<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="IndicatorsMapper">
	<!-- id는 마음대로 작성 prarameter는 실제DTO클래스 -->

	<!-- 모든 지표 리스트 보기 -->
	<select id="IndicatorsListAll" resultType="IndicatorsDTO">
		SELECT *
		FROM
		INDICATORS_TB
		WHERE (INDICATORS_NUM, RECORD_DATE) IN (
		SELECT INDICATORS_NUM, MAX(RECORD_DATE) FROM INDICATORS_TB GROUP BY
		INDICATORS_NUM
		)
		AND IS_USE = 0
		ORDER BY INDICATORS_NUM
	</select>

	<!-- 카테고리 선택 지표 리스트 보기 -->
	<select id="IndicatorsListKategorie"
		parameterType="IndicatorsDTO" resultType="IndicatorsDTO">
		SELECT
		CONTROL_NUM,
		INDICATORS_NUM,
		INDICATORS_NAME,
		IS_BEST,
		IS_AGENCY,
		IS_AHA,
		IS_LINC,
		IS_TYPE3,
		ELEMENTS,
		COL_METHOD,
		EVAL_METHOD,
		EVAL_STANDARD,
		DIVISION_NAME,
		TARGET_VAL,
		FORMULA,
		IS_NEGATIVE,
		IS_USE,
		USER_ID,
		USER_NAME,
		ACTION_CODE,
		(SELECT MAX(RECORD_DATE) FROM RECORD_TB WHERE INDICATORS_NUM =
		ind.INDICATORS_NUM GROUP BY INDICATORS_NUM) RECORD_DATE
		FROM
		INDICATORS_TB ind
		WHERE (INDICATORS_NUM, RECORD_DATE) IN (
		SELECT INDICATORS_NUM, MAX(RECORD_DATE) FROM INDICATORS_TB GROUP BY
		INDICATORS_NUM
		)
		<if test="IS_BEST == 1">
			AND IS_BEST = #{IS_BEST}
		</if>
		<if test="IS_AGENCY == 1">
			AND IS_AGENCY = #{IS_AGENCY}
		</if>
		<if test="IS_AHA == 1">
			AND IS_AHA = #{IS_AHA}
		</if>
		<if test="IS_LINC == 1">
			AND IS_LINC = #{IS_LINC}
		</if>
		<if test="IS_TYPE3 == 1">
			AND IS_TYPE3 = #{IS_TYPE3}
		</if>
		<if test="!DIVISION_NAME.equals('모두 보기')">
			AND DIVISION_NAME = #{DIVISION_NAME}
		</if>
		<if test="INDICATORS_NAME != ''">
			AND INDICATORS_NAME like '%'||#{INDICATORS_NAME}||'%'
		</if>

		AND IS_USE = 0
		ORDER BY INDICATORS_NUM
	</select>

	<!-- 특정 지표 보기 -->
	<select id="IndicatorsOne" parameterType="IndicatorsDTO"
		resultType="IndicatorsDTO">
		SELECT *
		FROM
		INDICATORS_TB
		where (INDICATORS_NUM, RECORD_DATE) in (
		select INDICATORS_NUM, max(RECORD_DATE) from INDICATORS_TB group by
		INDICATORS_NUM
		) AND INDICATORS_NUM =#{INDICATORS_NUM}
	</select>

	<!-- 현재 등급기준 보기 -->
	<select id="NowGradeSelect" resultType="GradeDTO">
		SELECT *
		FROM
		GRADE_TB
		where (RECORD_DATE) in (
		select max(RECORD_DATE) from GRADE_TB
		)
	</select>

	<!-- 현재 등급기준 변경 -->
	<insert id="GradeModify" parameterType="GradeDTO">
		INSERT INTO
		GRADE_TB(GRADE_NUM,
		A_GRADE,
		B_GRADE,
		D_GRADE,
		A_MEASURE,
		B_MEASURE,
		D_MEASURE,
		USER_ID,
		USER_NAME,
		ACTION_CODE,
		RECORD_DATE)
		VALUES (GRADE_NUM.nextval,
		#{A_GRADE},
		#{B_GRADE},
		#{D_GRADE},
		#{A_MEASURE},
		#{B_MEASURE},
		#{D_MEASURE},
		#{USER_ID},
		#{USER_NAME},
		#{ACTION_CODE},
		sysdate)
	</insert>

	<!-- 새 지표 등록 -->
	<insert id="Indicators_write" parameterType="IndicatorsDTO">
		INSERT INTO
		INDICATORS_TB(CONTROL_NUM,
		INDICATORS_NUM,
		INDICATORS_NAME,
		IS_BEST,
		IS_AGENCY,
		IS_AHA,
		IS_LINC,
		IS_TYPE3,
		ELEMENTS,
		COL_METHOD,
		EVAL_METHOD,
		EVAL_STANDARD,
		DIVISION_NAME,
		TARGET_VAL,
		FORMULA,
		IS_NEGATIVE,
		IS_USE,
		USER_ID,
		USER_NAME,
		ACTION_CODE,
		RECORD_DATE)
		VALUES (CONTROL_NUM.nextval,
		INDICATORS_NUM.nextval,
		#{INDICATORS_NAME},
		#{IS_BEST},
		#{IS_AGENCY},
		#{IS_AHA},
		#{IS_LINC},
		#{IS_TYPE3},
		#{ELEMENTS},
		#{COL_METHOD},
		#{EVAL_METHOD},
		#{EVAL_STANDARD},
		#{DIVISION_NAME},
		#{TARGET_VAL},
		#{FORMULA},
		#{IS_NEGATIVE},
		0,
		#{USER_ID},
		#{USER_NAME},
		#{ACTION_CODE},
		sysdate)
	</insert>



	<!-- 지표 변경 -->
	<insert id="Indicators_modify" parameterType="IndicatorsDTO">
		INSERT INTO
		INDICATORS_TB(CONTROL_NUM,
		INDICATORS_NUM,
		INDICATORS_NAME,
		IS_BEST,
		IS_AGENCY,
		IS_AHA,
		IS_LINC,
		IS_TYPE3,
		ELEMENTS,
		COL_METHOD,
		EVAL_METHOD,
		EVAL_STANDARD,
		DIVISION_NAME,
		TARGET_VAL,
		FORMULA,
		IS_NEGATIVE,
		IS_USE,
		USER_ID,
		USER_NAME,
		ACTION_CODE,
		RECORD_DATE)
		VALUES (CONTROL_NUM.nextval,
		#{INDICATORS_NUM},
		#{INDICATORS_NAME},
		#{IS_BEST},
		#{IS_AGENCY},
		#{IS_AHA},
		#{IS_LINC},
		#{IS_TYPE3},
		#{ELEMENTS},
		#{COL_METHOD},
		#{EVAL_METHOD},
		#{EVAL_STANDARD},
		#{DIVISION_NAME},
		#{TARGET_VAL},
		#{FORMULA},
		#{IS_NEGATIVE},
		0,
		#{USER_ID},
		#{USER_NAME},
		#{ACTION_CODE},
		sysdate)
	</insert>

	<!-- 보고서 작성 -->
	<insert id="Report_write" parameterType="RecordDTO">
		INSERT INTO
		RECORD_TB(RECORD_NUM,
		INDICATORS_NUM,
		INDICATORS_NAME,
		IS_BEST,
		IS_AGENCY,
		IS_AHA,
		IS_LINC,
		IS_TYPE3,
		TARGET_VAL,
		ELEMENT_VAL,
		PRESENT_VAL,
		GRADE,
		ACHIEVE_VAL,
		USER_ID,
		USER_NAME,
		ACTION_CODE,
		RECORD_DATE)
		VALUES (RECORD_NUM.nextval,
		#{INDICATORS_NUM},
		#{INDICATORS_NAME},
		#{IS_BEST},
		#{IS_AGENCY},
		#{IS_AHA},
		#{IS_LINC},
		#{IS_TYPE3},
		#{TARGET_VAL},
		#{ELEMENT_VAL},
		#{PRESENT_VAL},
		#{GRADE},
		#{ACHIEVE_VAL},
		#{USER_ID},
		#{USER_NAME},
		#{ACTION_CODE},
		sysdate)
	</insert>

	<!-- 로그 지표 리스트 보기 -->
	<select id="IndicatorsListAll" resultType="IndicatorsDTO">
		SELECT *
		FROM
		INDICATORS_TB
		ORDER BY RECORD_DATE DESC
	</select>
	<!-- 로그 보고서 보기 -->
	<select id="IndicatorsListAll" resultType="IndicatorsDTO">
		SELECT *
		FROM
		RECORD_TB
		ORDER BY RECORD_DATE DESC
	</select>
	<!-- 로그 등급 보기 -->
	<select id="IndicatorsListAll" resultType="IndicatorsDTO">
		SELECT *
		FROM
		GRADE_TB
		ORDER BY RECORD_DATE DESC
	</select>
</mapper>