<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ResultMapper">
	<!-- id는 마음대로 작성 prarameter는 실제DTO클래스 -->

	<!-- 총괄 결과 리스트 보기 -->
	<select id="ResultGridList" parameterType="String"
		resultType="RecordDTO">
		<!-- SELECT * FROM RECORD_TB WHERE EXTRACT(YEAR FROM RECORD_DATE) = '${YEAR}' 
			ORDER BY RECORD_NUM -->

		SELECT MAX(INDICATORS_NUM) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE)
		as INDICATORS_NUM,
		MAX(INDICATORS_NAME) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE) as INDICATORS_NAME,
		MAX(TARGET_VAL) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE) as TARGET_VAL,
		MAX(PRESENT_VAL) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE) as PRESENT_VAL,
		MAX(GRADE) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE) as GRADE,
		MAX(ACHIEVE_VAL) KEEP (DENSE_RANK LAST ORDER BY RECORD_DATE) as ACHIEVE_VAL
		FROM RECORD_TB
		WHERE to_char(RECORD_DATE, 'yy') = '${YEAR}'
		GROUP BY INDICATORS_NUM, INDICATORS_NAME
	</select>

</mapper>